<!DOCTYPE html>
<html lang="en" ng-app="angular-cardflow-example">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>angular-cardflow</title>
    <link href="../../src/css/cardflow.css" rel="stylesheet">
    <link href="demo.css" rel="stylesheet">

    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="../../src/angular/cardflow.js"></script>
  </head>

  <body ng-controller="example-controller as vm">
    <h1>angular-cardflow</h1>
    <p>
      <h2>swipeSnapKinetic</h2>
      Scroll left or right to move cards and set current
      <span>
        <button ng-click="vm.cardflowModel.current = 0" ng-hide="vm.cardflowModel.current === 0">&lt;&lt;</button>
        <button ng-click="vm.cardflowModel.current = vm.cardflowModel.current - 1" ng-hide="vm.cardflowModel.current <= 0">&lt;</button>
        {{ vm.cardflowModel.current + 1 }} / {{ vm.cardflowModel.cards.length }}
        <button ng-click="vm.cardflowModel.current = vm.cardflowModel.current + 1" ng-hide="vm.cardflowModel.current >= (vm.cardflowModel.cards.length - 1)">&gt;</button>
        <button ng-click="vm.cardflowModel.current = vm.cardflowModel.cards.length - 1" ng-hide="vm.cardflowModel.current === vm.cardflowModel.cards.length - 1">&gt;&gt;</button>
      </span>
      <cardflow ng-model="vm.cardflowModel">
        <span class="cardflow-card image-dimension tooltip" ng-repeat="aCard in vm.cardflowModel.cards">
          <img src="{{ aCard.image }}"></img>
          <span>
            {{ aCard.title }}
          </span>
        </span>
      </cardflow>
    </p>
  </body>

  <script>
    angular.module('angular-cardflow-example', [
      'angular-cardflow'])
      .controller('example-controller', function exampleController() {

        var types = ['cats', 'fashion', 'nature', 'food', 'abstract', 'nightlife']
          , cicleIndex = 0
          , cards = [];
        for (cicleIndex = 0; cicleIndex < 40; cicleIndex += 1) {

          var aName = types[cicleIndex % types.length];
          cards.push({
            'image': 'http://lorempixel.com/200/200/' + aName + '/' + ((cicleIndex % 10) + 1),
            'title': aName
          });
        }

        // models for various cardflows
        this.cardflowModel = {
          'cards': cards
        };
      });
  </script>
</html>
