.cardflow-wrapper {

  overflow:hidden;
  position: absolute;
  width: 100%;
}

.cardflow-container {

  display: inline-block;

  /* disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline: 0;

  /* card movement transition */
  transition: transform 0.25s ease-out;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  -moz-transition: -moz-transform 0.25s ease-out;
  -o-transition: -o-transform 0.25s ease-out;
  -ms-transition: -ms-transform 0.25s ease-out;
}

.cardflow-card {

  float: left;
  margin-right: 10px;
  background-size: contain;
  /* keep padding & borders inside box size */
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;

  /* active transition */
  transition: border-color 0.5s ease-out;
  -webkit-transition: border-color 0.5s ease-out;
  -moz-transition: border-color 0.5s ease-out;
  -o-transition: border-color 0.5s ease-out;
  -ms-transition: border-color 0.5s ease-out;
}

/* disable dragging */
.cardflow-card img {

  pointer-events: none;
}

.cardflow-card.cardflow-active {

  border-color: #fff;
}
